/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* TODO style with eCapital colors */

/* Define colors */
:root {
    --text-primary-color:#1F1F1F;
    --text-secondary-color: #9EAAB2;
    --text-tertiary-color: #5E717F;
    --black: #000000;
    --button-primary-color: #74DB35;
    --button-secondary-color: #FD792E;
    --button-tertiary-color: #FA1A1A;

    --primary-color: #F58F1B;
    --secondary-color: #5D707F;
    --tertiary-color: #67B9B3;
    /* Override colors */

}

a { cursor: pointer; text-decoration: none; }


h1 {
    color: var(--text-primary-color);
}

th {
    font-weight: 500;
    color: var(--text-secondary-color);
}

.table td {
    color: var(--text-tertiary-color);
    vertical-align: middle;
    font-weight: 500;
}
.app-container {
    min-height: 350px;
}

.btn-success {
    background-color: var(--button-primary-color);
    border-color: var(--button-primary-color);
    color: var(--black);
    font-weight: 500;
}
.btn-edit {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
    color: var(--button-secondary-color);
    font-weight: 500;
}
.btn-delete {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
    color: var(--button-tertiary-color);
    font-weight: 500;
}
.table>:not(caption)>*>* {
    border-bottom-width: 0;
}

tbody {
    border-top-width: 1px;
    border-bottom-width: 1px;
}